.app {
    -fx-background-image: url("img/background.jpg");
}

.bg {
    -fx-background-color: rgb(246, 242, 250);
}

.login-box {
    -fx-background-color: linear-gradient(from 10% 50% to 60% 40%, rgb(0, 0, 0), rgba(91, 8, 133));
    -fx-opacity: 0.92;
}

.id-box {
    -fx-background-color: rgb(229, 229, 229);
}

.title {
    -fx-fill: white;
    -fx-font-size: 50px;
    -fx-font-family: "High Tower Text";
}

.quiiter{
    -fx-background-color: rgb(255, 212, 212);
    -fx-text-fill: rgb(91, 8, 133);
    -fx-font-size: 15px;
}
.authentifier{
    -fx-background-color: rgb(255, 255, 255);
    -fx-text-fill: rgb(91, 8, 133);
    -fx-font-size: 15px;
    -fx-transition: 5s;
}

.authentifier:hover {
    -fx-background-color: rgb(198, 246, 195);
    -fx-text-fill: rgb(91, 8, 133);
    -fx-font-size: 15px;
    -fx-opacity:1;
}

.authentifier:disabled{
    -fx-background-color: rgb(133, 133, 133);
    -fx-text-fill: rgb(255, 255, 255);
    -fx-font-size: 15px;
    -fx-transition: 5s;
}

.info-client{
    -fx-background-color: rgb(56, 33, 177);
    -fx-opacity:1;
}

.info-client-text-left{
    -fx-text-fill: white;
    -fx-font-size: 16px;
}


.label-login {
    -fx-font-size: 30px;
}

.login-credentials {
    -fx-font-size: 22px;
}

.bouton-consulter{
    -fx-background-color: rgb(132, 215, 133);
    -fx-text-fill: rgb(91, 8, 133);
    -fx-font-size: 15px;
}

.bouton-consulter:hover{
    -fx-background-color: rgb(43, 198, 14);
    -fx-text-fill: white;
    -fx-font-size: 20px;
}


.bouton-seDeconnecter{
    -fx-background-color: rgb(255, 212, 212);
    -fx-text-fill: rgb(91, 8, 133);
    -fx-font-size: 15px;
}
.bouton-seDeconnecter:hover{
    -fx-background-color: rgb(236, 31, 31);
    -fx-text-fill: white;
    -fx-font-size: 20px;
}

